@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: italianno;
    src: url(../fonts/Italianno-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
.header-table {
    position:fixed;
    user-select: none;
    display: table;
    width: 100%;
    height: 8%;
    z-index: 1;
    top: 0;
}
.header-table-cell {
    background-image:  linear-gradient(78deg, #B4975B 0%, #8E6D25 100%);
    display: table-cell;
    padding: 10px 30px;
    width: 100%;
}
.header-container {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.header-left-container {
    align-items: center;
    display: flex;
}
.click-event:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}
.click-event:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}
.logo {
    width: 100px;
}
.header-right-container {
    align-items: center;
    display: flex;
    gap: 25px;
}
.header-right-container a {
    font-family: inter;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: white;
}
.button{
    background-image: linear-gradient(78deg, #B4975B 0%, #8E6D25 100%);    ;
    justify-content:space-between;
    font-family: inter;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
    font-size: 16px;
    display: flex;
    width: 150px;
}

